

<section>
    <div class="container">
        
        <h3><p>
            <b>•<u>Travel Planner</u>  </b><br>
            Developed a web application using MEAN Stack for fetching flights to the destination and hotels in the destination. I have used Rapid API to fetch flights and Google API to fetch nearest hotels.<br>
             https://github.com/kondurisaisanthosh/travelplanner<br>
             <br>
            <b>•<u> Restaurant Finder:</u></b><br>
            Developed a web application using MEAN Stack for fetching nearby restaurants using Google API. <br>
            https://github.com/kondurisaisanthosh/assignment2-kondurisaisanthosh-CSI518<br>
            <br>
            <b>•<u>Car Collision Detecion System:</u></b><br>
            Developed a system to detect car collision and then the location of the accident to the police station and hospital.<br>
            <br>
            <b>•<u> Robotic Arm Controlled By Wireless Glove:</u></b><br>
            Using raspberry pi, we developed a glove which had flex sensors, IR module which controls the
            robotic arm.<br> 
        </p></h3>
    </div>
</section>