<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
</head>
<body>
  <div>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <!-- <a class="navbar-brand" href="./"><b>Home</b></a> -->
      <a [routerLink]="['/home']" routerLinkActive="router-link-active"  class="navbar-brand "><b>Home</b></a>

    
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item ">
            <a [routerLink]="['/about']" routerLinkActive="router-link-active"  class="nav-link "><b>About</b></a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/education']" routerLinkActive="router-link-active"  class="nav-link "><b>Education</b></a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/experience']" routerLinkActive="router-link-active"  class="nav-link "><b>Experience</b></a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/skills']" routerLinkActive="router-link-active"  class="nav-link "><b>Skills</b></a>
          </li>

          <li class="nav-item">
            <a [routerLink]="['/projects']" routerLinkActive="router-link-active"  class="nav-link "><b>Projects</b></a>
          </li>

          <!-- <li class="nav-item">
            <a [routerLink]="['/personal-info']" routerLinkActive="router-link-active"  class="nav-link "><b>Personal-info</b></a>
          </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <img src="../assets/git.png" class=" img-rounded m-2.5" width="50" height="50"> 
          <img src="../assets/download.png" class=" img-rounded" width="50" height="50"> 
        </form>
      </div>
    </nav>
    <div  >
      <img src="./assets/sliders1-1.jpg" alt="Not found" class="watermark">
      <div class="container-fluid text" [@routeAnimations]="o && o.activatedRouteData  && o.activatedRouteData['animation']">
        <router-outlet #o="outlet"></router-outlet>
      </div>

    </div>
  </div>
</body>

</html>