<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
</head>

<body>
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a href="./about/" class="navbar-brand"><b>Home</b></a>
    <form class="form-inline">
      <button class="btn btn-primary btn-sm button">Github</button>
      <button class="btn btn-primary btn-sm button">Linked in</button>
    </form>
  </nav>
  <div class="d-flex text-primary " id="wrapper">
    <div class="bg-light border-right sb-color" id="sidebar-wrapper">
      <img src="../assets/user.png" class="rounded-circle padding-bottom-md padding-top-md padding-left-md" width="200" height="200">
      <div class="sidebar-heading"><h5>Konduri Sai Santhosh</h5> </div>
      <div class="sidebar-heading"><h6>University at Albany</h6> </div>
      <hr class="style1">
      
      <div class="list-group list-group-flush">
        <a [routerLink]="['/about']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action bg-light"><b>About</b></a>
        <a [routerLink]="['/education']" routerLinkActive="router-link-active"  class="list-group-item list-group-item-action bg-light"><b>Education</b></a>
        <a [routerLink]="['/experience']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action bg-light"><b>Experience</b></a>
        <a [routerLink]="['/skills']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action bg-light"><b>Skills</b></a>
        <a [routerLink]="['/projects']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action bg-light"><b>Projects</b></a>
        <a [routerLink]="['/personal-info']" routerLinkActive="router-link-active" class="list-group-item list-group-item-action bg-light"><b>Personal-info</b></a>
      </div>

    </div>

  </div>
</body>

</html>