  #sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .5s ease-out;
    -moz-transition: margin .5s ease-out;
    -o-transition: margin .5s ease-out;
    transition: margin .5s ease-out;
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.3rem 1rem;
    
  }

  .button{
    margin: 13px;
  }

  .sb-color{
    background-color:#FF851B;
  }
  .padding-top-md { padding-top: 1em; }
  .padding-left-md { padding-left: 1em; }
  .padding-bottom-md { padding-bottom: 1em; }
  
  @media (min-width: 900px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
  }