

<section>
    <div class="container">
        
        <h3><p>
            • University at Albany (State University of New York), Albany, NY (August 2019 – Present) Master of
            Science, Computer Science.<br>
            <br>
            <br>
            <br>
            • Jawaharlal Nehru Technological University,Hyderabad (Percentage – 80.4%, Sep 2013 - April 2017), Bachelor of
            Technology, Electronics and Communication Engineering.
        </p></h3>
    </div>
</section>