<section>
    <div class="container">
        
        <h3><p>
            <br>
<b>  <u>          Associate Software Engineer, Optum Global Solutions (Jul 2017-Dec 2018):</u></b><br><br>
• Performed querying and analysis of rewards of a customer and have automated the compliance report process within the scrum team in an agile environment.<br>
• Worked as a Full Stack Developer for development, testing and deployment for the applications EZCOMM, MNR and ISET.<br>
<br>
<br>
<br>
<br>
<br>
<b><u>Engineering Intern at OpenText Technologies Pvt Ltd (Jan 2017-Jun 2017):</u></b><br><br>
• Performed manual and automated testing for process platform application and updated the status of test cases<br>

        </p></h3>
    </div>
</section>